# Секретные данные
.env
*.session
*.session-journal

# База данных (чтобы не затереть историю обработанных постов при переносе)
seen.sqlite3
userbot_session.session
userbot_session.session-journal

# Временные файлы и медиа
tmp_media/
*.jpg
*.jpeg
*.png
*.mp4
*.webp

# Виртуальное окружение Python
venv/
.venv/
env/
ENV/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db


#IDE
.idea